{include file='common/head.html'}

<div class="layui-body">

    {if(![$dbsecurity]||![$session.pwsecurity])}
    <blockquote class="layui-elem-quote layui-text-red" id="note">
        {if(![$dbsecurity])}
        <p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            数据文件存在安全风险，请联系技术人员处理。
        </p>
        {/if}

        {if(![$session.pwsecurity])}
        <p>
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            当前账号仍在使用初始密码，请尽快修改密码。
            <a class="layui-btn layui-btn-sm" href="{url./admin/Index/ucenter}">立即修改</a>
        </p>
        {/if}
    </blockquote>
    {/if}

    <blockquote class="layui-elem-quote">
        当前登录用户：{$user_info->username} {$user_info->realname}，登录时间：{$user_info->update_time}，累计登录次数：{$user_info->login_count}
    </blockquote>

    <fieldset class="layui-elem-field">
        <legend>快捷操作</legend>
        <div class="layui-field-box">
            <div class="layui-row">
                {foreach $model_msg(key,value)}
                <div class="layui-col-xs6 layui-col-sm4 layui-col-md3 layui-col-lg2">
                    {if($value->type==1)}
                    <a href="{url./admin/Single/index/mcode/'.$value->mcode.'}">
                    {else}
                    <a href="{url./admin/Content/index/mcode/'.$value->mcode.'}">
                    {/if}
                        <dl class="deskbox center-block">
                            <dt>[value->name]</dt>
                            <dd>[value->count]</dd>
                        </dl>
                    </a>
                </div>
                {/foreach}

                <div class="layui-col-xs6 layui-col-sm4 layui-col-md3 layui-col-lg2">
                    <a href="{url./admin/Message/index}">
                        <dl class="deskbox center-block">
                            <dt>留言</dt>
                            <dd>{$sum_msg}</dd>
                        </dl>
                    </a>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="layui-elem-field">
        <legend>运营提示</legend>
        <div class="layui-field-box">
            <p>产品、新闻、案例和联系方式均可在左侧菜单中维护。</p>
            <p>涉及系统更新、数据库、模板文件等维护操作，请联系技术人员处理。</p>
        </div>
    </fieldset>
</div>

{include file='common/foot.html'}
